.carousel{
    border-radius: 50px 50px 50px 50px;
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 5%;
}
#cards{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
}

#whatsicon{
    position: fixed;
      bottom: 10px; /* Distance from top */
      right: 10px; /* Distance from left */
      z-index: 9999; /* Ensure the icon stays on top */
      font-size: 30px; /* Size of the icon */
      padding: 5px; 
      border-radius: 25%; /* Optional: makes the icon circular */

      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: adds a shadow */

    max-width: 70px;
    max-height: 70px;
}

form{
    bottom: 10px;
}

header{
   position: fixed;
   z-index: 9999; 
   top: 0px;
   right: 0px;
   left: 0px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} 

footer{
    margin-top: auto;
}

html, body{
    height: 100%;
    display: flex;
    flex-direction: column;
}